@charset "utf-8";

#term_size{
    font-size: 0.7rem;
}

input[type] {
    margin-bottom: 0.5rem;
}

input[type='number'] {
    margin-right: 0.5rem;
}

input[type='radio'] {
    margin-right: 0.5rem;
}

fieldset {
    margin-bottom: 0.7rem;
    background-color: antiquewhite;
}

input[type='checkbox'] {
    margin-right: 0.5rem;
}